* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

p {
    margin: 0;
}

.main {
    display: flex;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    font-weight: 400;
    position: relative;
}

.title p {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    padding: 0px 340px;
    margin-top: 50px;
}

.title h2::after {
    content: "";
    position: absolute;
    top: 62px;
    left: 50%;
    background: #07baf0;
    width: 60px;
    height: 5px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

/* ======================= nav bar part start ========================= */
nav {
    background: #fef8ff !important;
}

nav img {
    margin-top: -55px;
}

nav ul {
    margin: 0 auto;
}

nav ul li {
    padding: 60px 25px;
}

nav ul li a {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color: #848484 !important;
    transition: .4s;
}

nav ul li:hover a {
    color: #07baf0 !important;
}

nav .btn a {
    padding: 13px 16px;
    background: #07baf0;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    border-radius: 5px;
}

nav .btn a:hover {
    -webkit-box-shadow: -10px 0px 13px -7px , 10px 0px 13px -7px, -5px 3px 50px 5px rgba(7,186,240,0.46); 
    box-shadow: -10px 0px 13px -7px , 10px 0px 13px -7px , -5px 3px 50px 5px rgba(7,186,240,0.46);
}

/* ======================= nav bar part end ========================= */
/* ======================= employer part start ========================= */

#employer-part {
    width: 100%;
    padding-bottom: 60px;
}

#employer-part .title {
    background: #fef8ff;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

#employer-part .title h2::after {
    display: none;
}

#employer-part .title p {
    margin-top: 0px;
}






#employer-part .employer-left {
    width: 100%;
    margin-top: 90px;
}

#employer-part .employer-left .profile {
    display: flex;
}

#employer-part .employer-left .profile .img {
    width: 31%;
}

#employer-par .employer-left .profile .img-details {
    width: 65%;
}

#employer-part .employer-left .profile .img .round {
    width: 220px;
    height: 220px;
    background: #ccc;
    border-radius: 50%;
    position: relative;
}

#employer-part .employer-left .profile .img .round .round-2 {
    width: 60px;
    height: 60px;
    background: #07baf0;
    position: absolute;
    bottom: 20px;
    right: -10px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-family: 'Abril Fatface', cursive;
    font-size: 27px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}



#employer-part .img-details h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #444;
}

#employer-part .img-details h4 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #444;
    margin-bottom: 15px;
}

#employer-part .img-details .icon i {
    color: #ffb527;
    font-size: 20px;
}

#employer-part .img-details p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-top: 20px;
    width: 260px;
    line-height: 26px;
}

#employer-part .img-details span {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #444;
    margin-top: 7px;
    display: inline-block;
}







#employer-part .employer-left .menu ul {
    list-style: none;
    padding: 0;
}

#employer-part .employer-left .menu ul li {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 15px 30px;
    color: #999;
    cursor: pointer;
}

#employer-part .employer-left .menu {
    padding: 50px 0px;
}


#employer-part .employer-left .menu ul .first-li {
    border-bottom: 0px !important;
    border: 1px solid #ddd;
    color: #07baf0;
}








#employer-part .employer-text h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-size: 26px;
    margin-bottom: 30px;
}


#employer-part .employer-text p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
}

#employer-part .employer-text ul li {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444;
    margin-bottom: 26px;
    padding-right: 20px;
    line-height: 26px;
}

#employer-part .employer-text ul li i {
    margin-right: 16px;
}







.experience h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-size: 26px;
    margin-bottom: 30px;
}



.experience .all-item .item .img .round {
    width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 50%;
}


.experience .all-item:last-child {
    margin-top: 60px;
}

.experience .all-item {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.experience .all-item .item {
    width: 49%;
    margin-right: 10px;
    display: flex;
}

.experience .all-item .item .img {
    width: 30%;
}

.experience .all-item .item .details {
    width: 70%;
    display: block;
}

.experience .all-item .item .details .text-item {
    display: flex;
    font-family: 'Arimo', sans-serif;
    color: #222;
    margin-bottom: 7px;
    font-size: 16px;
}

.experience .all-item .item .details .text-item .name {
    width: 30%;
}

.experience .all-item .item .details .text-item .symble {
    width: 12%;
}

.experience .all-item .item .details .text-item .text {
    width: 56%;
}






.portfolio h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.portfolio .porfolio-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portfolio .porfolio-item .img {
    height: 260px;
    background: #ccc;
    width: 32%;
}







.feedback h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.feedback-item .details {
    width: 46%;
}

.feedback-item .details h4 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #444;
}

.feedback-item .details span {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #999;
}

.feedback-item .details p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444;
    padding: 20px 0px;
}

.feedback-item .details b {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444;
    font-weight: 600;
}

.feedback-item .img {
    width: 16%;
}

.feedback-item .img .round {
    width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 50%;
}

.feedback-item {
    display: flex;
    margin-bottom: 70px;
}

.feedback-item .icon {
    width: 36%;
    padding-left: 60px;
}

.feedback-item .icon i {
    color: #ffb527;
}

.feedback-item .icon .blank {
    color: #ddd;
}





.employer-right {
    margin-top: 90px;
}


.employer-right .details {
    width: 100%;
}

.employer-right .details .text-item {
    display: flex;
    font-family: 'Arimo', sans-serif;
    color: #222;
    margin-bottom: 15px;
    font-size: 16px;
}

.employer-right .details .text-item .text span {
    display: block;
    margin-top: 20px;
}

.employer-right .details .text-item .name {
    width: 30%;
}

.employer-right .details .text-item .symble {
    width: 12%;
}

.employer-right .details .text-item .text {
    width: 56%;
}

.employer-right .button {
    margin-top: 30px;
}

.employer-right .button a {
    padding: 15px 35px;
    background: #07baf0;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid #07baf0;
}

.employer-right .icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 8px;
    color: #444;
    transition: .4s;
    font-size: 24px;
}


.employer-right .icon i:hover {

    color: #fa4444;
    cursor: pointer;
}

.employer-right .icon {
    margin-top: 50px;
    padding: 10px 25px;
    box-shadow: 0px 4px 10px 2px #dddddda3;
}

.employer-right .left span {
    color: #444;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}


.employer-right .form {
    padding: 50px 25px;
    box-shadow: 0px 4px 10px 2px #dddddda3;
    margin-top: 70px;
}

.employer-right .form form h2 {
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-size: 26px;
    margin-bottom: 30px;
}

.employer-right .form .form input {
    width: 100%;
}

.employer-right .form form input {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    outline: none;
}

.employer-right .form form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 14px 20px;
    outline: none;
}


.employer-right .form form button {
    padding: 15px 35px;
    background: #07baf0;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid #07baf0;
    width: 100%;
    margin-top: 20px;
}

/* ======================= employer part end ========================= */

/* ======================= partner part start ========================= */

#partner-part {
    margin-bottom: 80px;
}

#partner-part .counter-part {
    display: flex;
}

#partner-part .counter-part .counter-item {
    width: 48%;
    padding: 35px 0px;
    text-align: center;
    /* border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; */
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color: #222;
    position: relative;
}

.counter-part .item-border-1::after {
    width: 2px;
    height: 60%;
    background: #ddd;
    content: "";
    position: absolute;
}

.counter-part .item-border-1::before {
    width: 50%;
    height: 2px;
    background: #ddd;
    content: "";
    position: absolute;
}

.counter-part .item-border-1::after {
    bottom: 0;
    right: 0;
}

.counter-part .item-border-1::before {
    bottom: 0;
    right: 0;
}

.counter-part .item-border-4::after {
    width: 2px;
    height: 60%;
    background: #ddd;
    content: "";
    position: absolute;
}

.counter-part .item-border-4::before {
    width: 50%;
    height: 2px;
    background: #ddd;
    content: "";
    position: absolute;
}

.counter-part .item-border-4::after {
    top: 0;
    left: -2px;
}

.counter-part .item-border-4::before {
    top: -2px;
    left: 0;
}

#partner-part .counter-part .counter-item .counter-num {
    font-size: 46px;
}


#partner-part .partner {
    display: flex;
    justify-content: space-between;
}

#partner-part .partner:first-child {
    margin-top: 50px;
}

#partner-part .pertner-item {
    width: 46%;
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
}

/* ======================= partner part end ========================= */
/* ======================= footer part start ========================= */

#footer-part {
    width: 100%;
    background: #252525;
    /* margin-bottom: 300px; */
}

#footer-part .footer-logo {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px solid #3b3b3b;
}

#footer-part .footer-body {
    padding: 50px 0px;
}


.footer-body .details {
    color: #fff;
}

.footer-body .details h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
    margin-bottom: 24px;
    position: relative;
}

.footer-body .details h2:after {
    content: "";
    width: 55px;
    height: 6px;
    background: #07baf0;
    position: absolute;
    bottom: -16px;
    left: 0;
    border-radius: 20px;
}

.footer-body .details p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
}

.footer-body .details .button a {
    color: #07baf0 !important;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    margin-top: 30px;
}

.footer-body .details .button a i {
    margin-left: 10px;
}


.footer-body .candi {
    color: #fff;
}

.footer-body .candi h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
    margin-bottom: 24px;
    position: relative;
}

.footer-body .candi h2:after {
    content: "";
    width: 55px;
    height: 6px;
    background: #07baf0;
    position: absolute;
    bottom: -16px;
    left: 0;
    border-radius: 20px;
}

.footer-body .details p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 35px;
}



.footer-body .candi ul {
    padding: 0;
    margin-top: 35px;
}

.footer-body .candi ul li {
    font-family: 'Arimo', sans-serif;
    padding-bottom: 20px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-left: 32px;
    transition: .4s;
    cursor: pointer;
}

.footer-body .candi ul li:after {
    content: "";
    background: transparent;
    width: 25px;
    height: 4px;
    position: absolute;
    top: 11px;
    left: 0;
    border-bottom: 4px dotted #dbdbdb;
    transition: .4s;
}


.footer-body .candi ul li:hover {
    padding-left: 55px;
}

.footer-body .candi ul li:hover::after {
    width: 47px;
}

.footer-body .details form {
    position: relative;
    margin: 30px 0px;
}

.footer-body .details form input {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #fff;
    padding-left: 10px !important;
    border-radius: 6px;
}


.footer-body .details form button {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 27px;
    height: 50px;
    background: #07baf0;
    color: #ffffff;
    border: none;
    border-radius: 7px;
}

.footer-body .details .icon i {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    background: #fff;
    color: #07baf0;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

.footer-body .details .icon i:hover {
    background: #07baf0;
    color: #fff;
}


#footer-part .footer-bottom {

    text-align: center;
    padding: 25px 0px;
    border-top: 1px solid #3b3b3b;
    color: #fff;
}

/* ======================= footer part end ========================= */